@use "../themes/typography" as t;
@use "../themes/colors" as c;
@use "sass:color" as sc;
@use "../style/breakpoints" as bp;

// In-Out sessões.

#sobre:target,
#experiencia:target,
#habilidades:target,
#projetos:target,
#contato:target {
  h1 {
    color: c.$c-neon;
    font-weight: bold;
  }
}

// Títulos ativos via scroll
h1.active_link {
  color: c.$c-neon !important;
  font-weight: bold !important;
  animation: 6s cubic-bezier(1, 0.39, 0.85, 1.9) alternate infinite textGlow;
}

section.animate-fadeInOut {
  animation: fadeInOut linear forwards;
  animation-timeline: view();
  animation-range: entry -180px exit 40px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    scale: 0.9;
  }
  15% {
    opacity: 1;
    scale: 1;
  }
  85% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.9;
  }
}

// Links ativos - Navbar

a.active_link {
  border-radius: 50%;
  font-weight: 600;
  color: sc.adjust(c.$c-neon, $whiteness: 10%);
  animation: 6s cubic-bezier(1, 0.39, 0.85, 1.9) alternate infinite textGlow;
}

a.active_link::before {
  animation:
    0.4s cubic-bezier(0.37, 0.79, 0, 0.01) forwards slideUpTrace,
    6s cubic-bezier(1, 0.39, 0.85, 1.9) alternate infinite traceGlow;
  content: "";
  position: relative;
  display: block;
  inset-block-end: -20px;
  inset-inline-start: 0;
  margin-block-start: -1px;
  width: 100%;
  height: 1px;
  opacity: 1;
  z-index: -1;
  background: linear-gradient(
    90deg,
    transparent 5%,
    c.$c-neon 50%,
    transparent 95%
  );
  @include bp.breakpoint(medium) {
    inset-block-end: -30px;
  }
  @include bp.breakpoint(small) {
    inset-block-end: -30px;
  }
  @include bp.breakpoint(xl-small) {
    inset-block-end: -40px;
  }
}

@keyframes slideUpTrace {
  0% {
    width: 0;
    left: 50%;
    right: 0;
    margin-block-start: -1px;
    inset-block-end: -30px;
    height: 2px;
    opacity: 0;
  }
  30%,
  100% {
    margin-block-start: -3px;
    inset-block-end: -25px;
    height: 1px;
    opacity: 1;
  }
}

@keyframes traceGlow {
  0%,
  60% {
    box-shadow:
      0 5px 15px c.$c-primary,
      0 5px 30px c.$c-primary,
      0 5px 35px c.$c-primary,
      0 5px 50px sc.adjust(c.$c-primary, $lightness: 40%, $alpha: 2);
  }
  96%,
  98% {
    background: linear-gradient(
      90deg,
      transparent 5%,
      sc.adjust(c.$c-neon, $blackness: 30%) 50%,
      transparent 95%
    );
    box-shadow:
      0 1px 2px sc.adjust(c.$c-primary, $alpha: -0.5),
      0 2px 8px sc.adjust(c.$c-primary, $alpha: -0.6),
      0 3px 12px sc.adjust(c.$c-primary, $alpha: -0.3),
      0 5px 15px sc.adjust(c.$c-primary, $alpha: -0.2);
  }
  97%,
  99%,
  100% {
    background: linear-gradient(
      90deg,
      transparent 5%,
      sc.adjust(c.$c-neon, $blackness: 60%) 50%,
      transparent 95%
    );
    box-shadow:
      0 1px 4px c.$c-primary-dark,
      0 2px 8px c.$c-primary-dark,
      0 3px 12px c.$c-primary-dark,
      0 1px 0 sc.adjust(c.$c-primary-dark, $lightness: -20%);
  }
}

@keyframes textGlow {
  0%,
  60% {
    color: sc.adjust(c.$c-neon, $whiteness: 10%);
  }
  96%,
  98% {
    color: sc.adjust(c.$c-primary, $blackness: 20%);
  }
  97%,
  99%,
  100% {
    color: sc.adjust(c.$c-primary, $blackness: 40%);
  }
}
