@use "../themes/typography" as t;
@use "../themes/colors" as c;
@use "sass:color" as sc;
@use "../style/breakpoints" as bp;

// Footer

footer {
  left: 0;
  right: 0;
  margin: 0 2.5% 0 auto;
  width: 90%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  padding: 3rem 3rem;
  justify-content: space-between;
  align-content: center;
  z-index: 10;

  div {
    text-box: trim-both text alphabetic;
  }

  @include bp.breakpoint(sm-md) {
    width: 88%;
    align-items: flex-end;
    text-align: left;
    gap: 1.5rem 1.5rem;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  @include bp.breakpoint(xl-small) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-wrap: nowrap;
    flex-shrink: 1;
    & .text-left.logo,
    .text-right,
    .text-center {
      margin: 0;
      text-align: center;
    }
  }

  & p {
    font-size: 1.1rem;
    font-weight: 200;
    @include bp.breakpoint(sm-md) {
      font-size: 0.9rem;
    }
  }
}
.text-left {
  text-align: left;
  @include bp.breakpoint(sm-md) {
    text-align: center;
  }
}
.text-center {
  text-align: center;
  @include bp.breakpoint(sm-md) {
    text-align: right;
  }
}

.text-right {
  text-align: right;
  @include bp.breakpoint(sm-md) {
    text-align: center;
    margin: 0 auto;
  }
}

span.red {
  color: c.$c-neon;
}
