@use "../themes/typography" as t;
@use "../themes/colors" as c;
@use "sass:color" as sc;
@use "../style/breakpoints" as bp;

// Navbar
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  z-index: 1000;
}
nav {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 100%;

  .logo {
    font-size: 3rem;
    margin-right: 1.5rem;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    span {
      color: c.$c-neon;
    }
    @include bp.breakpoint(sm-md) {
      font-size: 2.5rem;
    }
    @include bp.breakpoint(xl-small) {
      font-size: 2rem;
    }
  }

  & .__navbar {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 2rem 2rem;
    background-color: sc.adjust(c.$c-graphite, $lightness: -2%, $alpha: -1);
    backdrop-filter: blur(2px);
    border-radius: 50px;
    border: 1px solid sc.adjust(c.$c-graphite, $lightness: 2%, $alpha: -0.2);
    &--links {
      text-box: trim-both text alphabetic;
      margin-left: 5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
      font-weight: 200;
      font-size: 1.4rem;
      text-align: start;
      @include bp.breakpoint(large) {
        font-size: min(1.2rem);
        gap: min(1.5rem);
      }
      @include bp.breakpoint(medium) {
        display: none;
      }
    }
  }
}

.__navbar--dropdown {
  position: relative;
  display: none;
  @include bp.breakpoint(medium) {
    display: block;
  }
}

@include bp.breakpoint(medium) {
  button.__navbar--dropdown_button {
    display: block;
    position: relative;
    background-color: transparent;
    width: 3.5rem;
    height: 3.5rem;
    border: 1px solid c.$c-light;
    border-radius: 50%;
    padding: 25px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
    @include bp.breakpoint(xl-small) {
      width: 2rem;
      height: 2rem;
      padding: 20px;
    }
    &:hover {
      background-color: c.$c-light;
    }

    &::after {
      position: absolute;
      transform: translate(-24px, -24px);
      content: url("/src/assets/icons/menu.svg");
      background-color: transparent;
      transition: display 0.5s ease-in-out;
      @include bp.breakpoint(xl-small) {
        transform: scale(0.7) translate(-70%, -68%);
      }
    }
    &.open::after {
      display: none;
      content: "";
    }
    &:hover::after {
      filter: brightness(0);
    }
  }
}

button.__navbar--dropdown_button.open {
  background-image: url("/src/assets/icons/close.svg");
  background-size: cover;
}

.__navbar--dropdown {
  ul {
    position: absolute;
    align-items: center;
    align-self: center;
    font-size: 2rem;
    top: 150%;
    right: -2vw;
    width: 80vw;
    height: auto;
    border-radius: 0.5rem;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 10;
    display: none;
    @include bp.breakpoint(sm-md) {
      width: 83vw;
      right: -6vw;
      margin-left: auto;
    }
    @include bp.breakpoint(small) {
      width: 84vw;
      right: -10vw;
      margin-left: auto;
    }
    @include bp.breakpoint(xl-small) {
      width: 82vw;
      margin-top: 15px;
      right: -10vw;
    }
    & li.__navbar--dropdown_link > a.active_link {
      background: none;
      border-radius: 50%;
      font-weight: 600;
      color: sc.adjust(c.$c-neon, $whiteness: 10%);
      animation: 8s cubic-bezier(1, 0.39, 0.85, 1.9) alternate infinite textGlow;
    }
    & li.__navbar--dropdown_link > a.active_link::before {
      inset-block-end: -30px;
      inset-inline-start: 0;
      margin-block-start: -1px;
      width: 100%;

      @keyframes slideUpTrace {
        0% {
          width: 0;
          left: 50%;
          right: 0;
          margin-block-start: -1px;
          inset-block-end: -40px;
          height: 2px;
          opacity: 0;
        }
        30%,
        100% {
          margin-block-start: -3px;
          inset-block-end: -30px;
          height: 1px;
          opacity: 1;
        }
      }
    }
  }
  &_menu.show {
    position: absolute;
    display: inline-flex;
    z-index: 10;
    border-radius: 50px;
    background-color: sc.adjust(c.$c-dark, $alpha: -0.02);
    border: 1px solid sc.adjust(c.$c-graphite, $lightness: 2%, $alpha: -0.2);
    @include bp.breakpoint(medium) {
      font-size: min(max(2rem, 1.2rem), 3vw);
    }
  }
}
