@use "../themes/typography" as t;
@use "../themes/colors" as c;
@use "sass:color" as sc;
@use "../style/breakpoints" as bp;

// Estilos para a seção Sobre

#sobre[class^="container"] {
  width: 90%;
}

#sobre div.container-grid {
  display: grid;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  grid-template: 1fr / 1fr 1fr;
  gap: 2rem;
}
