:root {
  --color-bg: hsl(351, 36%, 11%);
  --color-header-bg: hsl(0, 37%, 20%);
  --color-text: hsl(0, 0%, 93%);
  --color-accent: hsl(0, 89%, 51%);
  --color-highlight: hsl(0, 89%, 41%);
  --color-border: hsl(0, 0%, 30%);
}


$color-bg: hsl(351, 36%, 11%);
$color-header-bg: hsl(0, 37%, 20%);
$color-text: hsl(0, 0%, 93%);
$color-accent: hsl(0, 89%, 51%);
$color-highlight: hsl(0, 89%, 41%);
$color-border: hsl(0, 0%, 30%);