$c-dark: #0c090d;
$c-light: #f2f4f3;
$c-graphite: #1a1a1a;
$c-primary-dark: #8b0000;
$c-primary: #dc143c;
$c-neon: #ff0040;
$c-accent: #00ffff;

:root {
  --color-dark: #0c090d;
  --color-light: #f2f4f3;
  --color-graphite: #1a1a1a;
  --color-primary-dark: #8b0000;
  --color-primary: #dc143c;
  --color-neon: #ff0040;
  --color-accent: #00ffff;
}
