@use "../themes/colors" as c;
@use "../themes/typography" as t;
@use "../style/breakpoints" as bp;
@use "sass:color" as sc;

@keyframes moveLight {
  100% {
    transform: translate3d(0, 0, 2px) rotate(360deg);
  }
}

.__background--light {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: c.$c-dark;
  overflow: hidden;
  z-index: -1;
}

.light {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: moveLight infinite linear;
}

.light:nth-child(odd) {
  color: c.$c-accent;
  opacity: 0.7;
}

.light:nth-child(even) {
  color: c.$c-neon;
  opacity: 0.7;
}

.light:nth-child(1) {
  top: 10%;
  left: 15%;
  animation-duration: 30s;
  animation-delay: -15s;
  transform-origin: 10vw 21vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(2) {
  top: 20%;
  left: 70%;
  animation-duration: 35s;
  animation-delay: -8s;
  transform-origin: 80vw 25vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(3) {
  top: 65%;
  left: 25%;
  animation-duration: 40s;
  animation-delay: -20s;
  transform-origin: 20vw 70vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(4) {
  top: 75%;
  left: 80%;
  animation-duration: 32s;
  animation-delay: -12s;
  transform-origin: 85vw 75vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(5) {
  top: 40%;
  left: 50%;
  animation-duration: 42s;
  animation-delay: -5s;
  transform-origin: 55vw 45vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(6) {
  top: 85%;
  left: 10%;
  animation-duration: 34s;
  animation-delay: -18s;
  transform-origin: 15vw 90vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(7) {
  top: 15%;
  left: 40%;
  animation-duration: 38s;
  animation-delay: -10s;
  transform-origin: 45vw 20vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(8) {
  top: 55%;
  left: 85%;
  animation-duration: 39s;
  animation-delay: -3s;
  transform-origin: 90vw 60vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(9) {
  top: 30%;
  left: 30%;
  animation-duration: 36s;
  animation-delay: -16s;
  transform-origin: 35vw 35vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(10) {
  top: 70%;
  left: 60%;
  animation-duration: 33s;
  animation-delay: -9s;
  transform-origin: 65vw 75vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(11) {
  top: 5%;
  left: 90%;
  animation-duration: 41s;
  animation-delay: -6s;
  transform-origin: 95vw 10vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(12) {
  top: 90%;
  left: 35%;
  animation-duration: 34s;
  animation-delay: -14s;
  transform-origin: 40vw 95vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(13) {
  top: 50%;
  left: 20%;
  animation-duration: 37s;
  animation-delay: -17s;
  transform-origin: 25vw 55vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(14) {
  top: 35%;
  left: 75%;
  animation-duration: 40s;
  animation-delay: -5s;
  transform-origin: 80vw 40vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(15) {
  top: 80%;
  left: 5%;
  animation-duration: 32s;
  animation-delay: -11s;
  transform-origin: 10vw 85vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(16) {
  top: 25%;
  left: 45%;
  animation-duration: 39s;
  animation-delay: -8s;
  transform-origin: 50vw 30vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(17) {
  top: 60%;
  left: 95%;
  animation-duration: 35s;
  animation-delay: -15s;
  transform-origin: 100vw 65vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

.light:nth-child(18) {
  top: 45%;
  left: 15%;
  animation-duration: 41s;
  animation-delay: -6s;
  transform-origin: 20vw 50vh;
  box-shadow:
    inset 0 0 50px currentColor,
    0 0 25px currentColor,
    0 0 50px currentColor,
    0 0 75px currentColor;
}

@include bp.breakpoint(sm-md) {
  .light {
    width: 15px;
    height: 15px;
  }
}
