html {
  scroll-behavior: smooth;
  font-family: var(--font-body), sans-serif, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-transform: none;
}