@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/*
<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name

.inter-tight-<uniquifier> {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.bodoni-moda-sc-<uniquifier> {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.ibm-plex-serif-<uniquifier> {
  font-family: "IBM Plex Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

:root {
  --font-head: 'Inter Tight', sans-serif;
  --font-body: 'IBM Plex Serif', serif;
  --font-accent: 'Bodoni Moda SC', serif;
}